<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Android</string>
		<string>Golang</string>
		<string>Html</string>
		<string>images</string>
		<string>IOS</string>
		<string>java</string>
		<string>python</string>
		<string>ROS</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>AngularJS.md</string>
		</array>
		<array>
			<string>docker.md</string>
		</array>
		<array>
			<string>git_note.md</string>
		</array>
		<array>
			<string>html_css.md</string>
		</array>
		<array>
			<string>ionic.md</string>
		</array>
		<array>
			<string>javascript.md</string>
		</array>
		<array>
			<string>Jenkins.md</string>
		</array>
		<array>
			<string>mariadb.md</string>
		</array>
		<array>
			<string>maths.md</string>
		</array>
		<array>
			<string>monogdb.md</string>
		</array>
		<array>
			<string>nodejs.md</string>
		</array>
		<array>
			<string>octave.md</string>
		</array>
		<array>
			<string>python_keyword.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>sso.md</string>
		</array>
		<array>
			<string>网页导航栏样例.md</string>
		</array>
	</array>
</dict>
</plist>
